body{
    padding: 0;
    margin: 0;
    }
    header{
        background-color: black;
    }
    .sliding{
        overflow: hidden;
    }
    
    .itemslider{
        display: flex;
        width: 500vw;
    }
    .slider{
        display: flex;
        width: 100vw;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
    nav ul li a{
        color: rgb(242, 238, 246);
    }
    footer{
        background-color: rgb(0, 0, 0);
        padding-bottom: 82px;
        font-style: italic;
        font-size: xx-large;
    }
    #rig{
       background-color: #fff;
       border: solid black 5px;
       width: 560px;
    }
    #lif{
        background-color: #fff;
        border: solid black 5px;
        width: 400px;
        height:260px;
        margin-left:370px;
        margin-top: 200px;
    }
    